@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&&family=Inter:wght@400;500;700&family=Roboto:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #1c1a19;
  font-family: 'Inter', sans-serif;
  color: #fff;
  line-height: 1.5rem;
  max-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  background-color: #3e3c3c;
}

.mob-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
}

.nav-container {
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  padding: 0.75rem 1.5rem;
  width: 100%;
}

.main-title {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: 0.023rem;
  max-width: 327px;
  color: #ff6b00;
}

.intro {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff5e1;
}

.text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  max-width: 327px;
  line-height: 1.5rem;
  font-size: 1rem;
}

.desktop-nav {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #3e3c3c;
  color: #fff5e1;
  top: 0;
  right: 0;
  padding: 0.75rem 1.5rem;
  z-index: 10;
}

.menu-btn {
  display: block;
}

.close-nav {
  margin-top: 1rem;
}

.pad-link {
  display: block;
  padding-top: 2.5rem;
  font-size: 1.8rem;
}

.nav-link {
  margin-top: 1.5rem;
}

.nav-hr {
  margin-top: 1rem;
  border: 1px solid #6f6c6b;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
menu {
  list-style-type: none;
}

.top-link {
  position: relative;
  display: flex;
  justify-content: baseline;
  flex-wrap: wrap;
  gap: 1.3rem;
  padding-top: 1.4rem;
  padding-left: 0.5rem;
  width: 100%;
}

.d-link {
  display: none;
  position: relative;
  top: -32px;
  left: -50px;
  border: 2px solid #e05304;
  background-color: #3c3a39;
  font-size: 0.8rem;
  padding: 3px;
  border-radius: 10px;
  color: #fff;
  margin-left: 5px;
  font-weight: 400;
}

#landing-page {
  width: 100%;
  background-image: url("/images/Illustration-mobile.png");
  background-repeat: no-repeat;
  background-position: 100% 215px;
  padding: 7.5rem 1.5rem 8.125rem 1.5rem;
}

.desk-only,
ul.tech.desk-only {
  display: none;
}

.container {
  margin: 0 auto;
  width: 100%;
}

#works-section {
  background: #fff;
  width: 100%;
}

div.container .works-top {
  width: 100%;
}

.recent-works {
  font-family: 'Crete Round', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #1c1a19;
  line-height: 3.25rem;
  text-align: center;
  width: 100%;
}

section.sect-container {
  padding: 7.5rem 1.5rem 8.125rem 1.5rem;
}

.inline-hr {
  margin: 24px 0 80px 0;
  color: #212121;
  width: 100%;
}

.multi-post {
  margin: 0 auto;
  width: 327px;
  height: auto;
}

.hype-img {
  margin-bottom: 12px;
  width: 100%;
  height: auto;
}

.hype-pro {
  color: #091e42;
  width: 100%;
}

.sub-pro {
  font-family: 'Crete Round', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.75rem;
  width: 100%;
}

.normal {
  width: 100%;
}

.tech li {
  border: none;
  background: rgba(255, 255, 255, 0.24);
  padding: 10px 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 0.94rem;
}

.skillset li {
  font-family: inherit;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 2.67rem;
}

.tech.custom-tech li {
  background: #fff;
  border: 1px solid #8993a4;
  color: #091e42;
}

.tech {
  display: flex;
  margin: 12px 0;
  gap: 12px;
  width: 100%;
}

button {
  background-color: #ff6b00;
  border: none;
  padding: 12px 10px;
  height: 100%;
  width: auto;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.06rem;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  border: 1px solid #f55800;
  background-color: #fff5e1;
  color: #f55800;
}

button:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.project {
  margin: 24px auto;
  background-image: url('/images/mask-group.png');
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 327px;
  width: 100%;
  max-height: 386px;
  height: auto;
}

.pro-layer {
  padding: 84px 16px 0 16px;
  width: 100%;
  height: auto;
}

.btn-bg {
  text-align: center;
  background-color: #ff6b00;
  border: none;
  width: 100%;
  max-width: 322px;
  height: auto;
}

#about-section {
  background-image: url("/images/Frame.png");
  background-repeat: no-repeat;
  background-position: 100% 395px;
  width: 100%;
}

.abt-txt {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 5.5rem;
  letter-spacing: 0.023rem;
  color: #ff6b00;
  margin-bottom: 24px;
}

#about-section .normal {
  margin-bottom: 24px;
  width: 100%;
  height: 148px;
}

.abt-line {
  width: 100%;
  margin: 209px 0 130px 0;
}

.major-skills {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 375px;
  margin: 0 auto;
}

.core-skills {
  position: relative;
}

.menu {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 5.5rem;
}

div > .lg-skill::before {
  content: url("/images/cube.png");
  position: absolute;
  left: 3.2rem;
}

div > .libraries::before {
  content: url("/images/Rectangle.png");
  position: absolute;
  left: 2.5rem;
}

div > .tools::before {
  content: url("/images/circle.png");
  position: absolute;
  left: 5.5rem;
}

#contact-section {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 8px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0 24px;
}

.normal.form-para {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
  color: #172b4d;
  text-align: center;
}

form {
  margin-top: 73px;
  padding-bottom: 124px;
}

textarea[placeholder] {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

input,
textarea {
  font-size: 0.9rem;
  line-height: 1.5rem;
  width: 100%;
  margin: 14px 16px;
  border: none;
}

textarea {
  margin: 14px 0;
  height: 114px;
  padding: 12px;
  color: #3c3a39;
  background-color: #fbf8f7;
}

.contact-btn {
  width: 131px;
  height: 48px;
}

hr.form-line {
  color: #dbd8d7;
}

.btm-border {
  border-bottom: 5px solid #0d151e;
  border-radius: 10px;
  width: 134px;
  height: 5px;
  text-align: center;
  margin-top: 20px;
}

.social-link-lp.footerlink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.social-link-lp.footerlink ul {
  justify-content: center;
  align-items: center;
}

hr#br {
  margin: 0;
  padding: 0;
  color: #dfe1e6;
}
